<%= render 'layouts/header' %>

<%= form_with(model: formulario) do |form| %>
  <% if formulario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formulario.errors.count, "error") %> prohibited this formulario from being saved:</h2>

      <ul>
        <% formulario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-8 mx-auto" style="padding-bottom: 200px;padding-top: 100px">
  <div class="card card-body">


  <%= form.label :nombre %>
  <%= form.text_field :nombre %>


<%= form.label :telefono %>
<%= form.text_field :telefono %>


<%= form.label :mascota %>
<%= form.text_field :mascota %>


<%= form.label :sexo %>
<%= form.text_field :sexo %>

<%= form.label :descripcion %>
<%= form.text_area :descripcion %>

<%= form.label :fecha %>
<%= form.date_select :fecha %>

<%= form.label :picture %>
<%= form.file_field :picture %>
<div class="actions">
<%= form.submit %>
</div>
  </div>
  </div>

 



<% end %>


